/* Available modificators:
    - autocomplete__input_user-input;
    - autocomplete__input_autotomplete;
    - autocomplete__ico_close;
    - autocomplete__ico_search;

    Colors reference:
    - white: #eaeaea;
    - lightGrey: #eaeaea;
    - grey: #747474;
    - lighterGrey: #959595;
    - lighterGrey: #7c7c7c;
    - black: #505050;
    - black: #323232;
    - blue: #2680EB;
*/

.autocomplete {
    box-sizing: border-box;
    padding: 16px 20px;
    overflow: hidden;
    font-family: 'adobe-clean', sans-serif;
    background-color: #ffffff;
}

.autocomplete * {
    box-sizing: border-box;
}

.autocomplete .autocomplete__wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.autocomplete .autocomplete__input {
    flex-grow: 1;
    min-height: 48px;
    max-height: 48px;
    padding: 3px 12px 5px 40px;
    font-family: inherit;
    font-size: 13px;
    line-height: 19px;
    font-weight: 400;
    color: #505050;
    text-decoration: none;
    font-style: normal;
    border: 2px solid #eaeaea;
    border-radius: 4px;
    outline: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: border-color 130ms ease-in-out,
                box-shadow 130ms ease-in-out;
}

.autocomplete .autocomplete__input::placeholder {
    position: relative;
    top: 2px;
    left: -1px;
    font-style: italic;
    color: #7c7c7c;
}

.autocomplete .autocomplete__wrapper:hover .autocomplete__input::placeholder {
    font-style: italic;
    color: #505050;
}

.autocomplete .autocomplete__wrapper:hover .autocomplete__input {
    border-color: #d3d3d3;
    box-shadow: none;
}

.autocomplete .autocomplete__wrapper .autocomplete__input:focus {
    border-color: #2680EB;
}


/* This input is required for JS part */
.autocomplete .autocomplete__input.autocomplete__input_autotomplete {
    position: absolute;
    visibility: hidden;
    max-width: 0;
    max-height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    z-index: -1;
    pointer-events: none;
}

.autocomplete .autocomplete__ico {
    box-sizing: content-box;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    left: 13px;
    z-index: 2;
    cursor: pointer;
    user-select: none;
    fill: #505050;
}

.autocomplete .autocomplete__ico.autocomplete__search {
    top: 5px;
    left: 15px;
}

.autocomplete .autocomplete__ico.autocomplete__ico_close {
    padding: 8px;
    left: unset;
    right: 8px;
    fill: #959595;
    transition: all 0.13s ease-in-out;
}

.autocomplete .autocomplete__ico.autocomplete__ico_close:hover {
    fill: #323232;
}